# Core functionality - changes here should be rare!
/src/app.py                   @PritamChakrabortyShuvo
/src/backend/database.py      @PritamChakrabortyShuvo
/src/backend/routers/auth.py  @PritamChakrabortyShuvo

# The frontend will need refactored soon to be more object oriented.
/src/static/   @PritamChakrabortyShuvo
